body{
background-color: lightpink;
font: 18px Arial, sans-serif;

}

h1 {
    color: black;
    font: 20px Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
}

.para_1 {
    background-color: rgb(255 255 255 / 50%);
    color: black;
    margin-left: auto;
    margin-right: auto;
}


table, th, td {
    border:2px grey;
}
