body{
background-color: lightpink;
font: 18px Arial, sans-serif;

}

h1 {
    color: black;
    font: 20px Arial, sans-serif;
}

.para_1 {
    background-color: white;
    color: grey;
    margin-left: auto;
    margin-right: auto;
}


table, th, td {
    border:2px solid black;
}
